* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

div {
  width: 100%;
}

div li {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: #ddd 1px solid;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

.btnWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnWrapper button {
  padding: 15px;
  border-radius: 50%;
  outline:none;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
}
